@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../assets/fonts/Raleway/Raleway-Regular.ttf),
    url(../assets/fonts/Raleway/Raleway-Regular.woff) format("truetype")
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    src: url(../assets/fonts/Raleway/Raleway-Italic.ttf), 
    url(../assets/fonts/Raleway/Raleway-Italic.woff) format("truetype")
}

@font-face {
    font-family: "Raleway";
    font-style: bold;
    src: url(../assets/fonts/Raleway/Raleway-Bold.ttf), 
    url(../assets/fonts/Raleway/Raleway-Bold.woff) format("truetype")
}

